#headerFairy {
  width: 75%;
  margin: 0 auto;
}

#headerFairy iframe {
  width: 100%;
  margin: 0 auto;
}
#headerOG {
  width: 75%;
  margin: 0 auto;
}

#headerOG iframe {
  width: 100%;
  margin: 0 auto;
}

#headerRamen {
  width: 75%;
  margin: 0 auto;
}

#headerRamen iframe {
  width: 100%;
  margin: 0 auto;
}
#headerTomie {
  width: 75%;
  margin: 0 auto;
}

#headerTomie iframe {
  width: 100%;
  margin: 0 auto;
}
